<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" /> <!-- Permiso para leer almacenamiento externo -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="Emprende 360"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Sin.Nav"
        tools:targetApi="31">
        <activity
            android:name=".DetalleEventoAsistidoActivity"
            android:exported="false" />
        <activity
            android:name=".CuestionarioActivity"
            android:exported="false" />
        <activity
            android:name=".AdaptadorCursos"
            android:exported="false" />
        <activity
            android:name=".DetalleCursoActivity"
            android:exported="false" />
        <activity
            android:name=".DetalleEventoActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".GenerarQrActivity"
            android:exported="false" />
        <activity
            android:name=".FormularioActivity"
            android:exported="false" />
        <activity
            android:name=".SellosRegistradosActivity"
            android:exported="false" />
        <activity
            android:name=".SplashActivity"
            android:exported="false" />
        <activity
            android:name=".SelectionActivity"
            android:exported="false" />
        <activity
            android:name=".CursosActivity"
            android:exported="false"
            android:label="Cursos"
            android:theme="@style/Base.Theme.NavigationDrawerCodelia"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".EventosActivity"
            android:exported="false"
            android:label="Eventos"
            android:theme="@style/Base.Theme.NavigationDrawerCodelia"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".EventosAsistidosActivity"
            android:exported="false"
            android:label="Eventos asistidos"
            android:theme="@style/Theme.NavigationDrawerCodelia"/>
        <activity
            android:name=".PerfilActivity"
            android:exported="false"
            android:theme="@style/Base.Theme.NavigationDrawerCodelia"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".PortadaPasaPorteActivity"
            android:exported="true"
            android:theme="@style/Sin.Nav"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".RecuperarContraseñaActivity"
            android:exported="false"
            android:theme="@style/Sin.Nav" />
        <activity
            android:name=".CrearCuentaActivity"
            android:exported="false"
            android:theme="@style/Sin.Nav" />
        <activity
            android:name=".DatosPasaporteActivity"
            android:exported="false"
            android:label="Pasaporte"
            android:theme="@style/Sin.Nav"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".PrincipalActivity"
            android:exported="true"
            android:label="EMPRENDE 360"
            android:theme="@style/Sin.Nav"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".LoginActivity"
            android:exported="true"
            android:theme="@style/Sin.Nav">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>